.navbar .icon {
    font-size: 20px;
}

li.active {
    color: #DE3053;
}

.no-margin {
    margin: 0;
}

.expand .social-icon a {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.expand .social-icon i {
    font-size: 40px;
}

.img-tutorials {
    margin: auto;
    max-height: 250px;
}

p.subheading {
    font-size: 18px;
    font-weight: 200;
}

.social-footer-icon {
    font-size: 33px;
}

.up-icon::before {
    line-height: inherit;
}

.navbar-alt .navbar-nav>li>a,
.navbar-alt .navbar-nav>li>span {
    font-size: 14px;
}

#get-connected-community {
    padding-top: 100px;
    padding-bottom: 90px;
}

#get-connected-community .connected-icon a:hover .icon {
    background: rgba(0, 0, 0, 0.1);
}

.bg-custom {
    width: 100% !important;
    height: 100% !important;
}

.custom-page-top {
    height: 380px;
}

#sticky-menu ul {
    list-style: none;
    padding-left: 0;
}

#sticky-menu ul li.toctree-l1 a {
    display: block;
    width: 100%;
}

#sticky-menu ul.subnav {
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#sticky-menu ul li div,
#sticky-menu ul li.toctree-l1 {
    cursor: pointer;
}

#sticky-menu li span,
#sticky-menu li a {
    color: #777;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#sticky-menu ul li div:hover span,
#sticky-menu ul li.toctree-l1:hover a {
    border-left: 4px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-color: #de3053;
    color: #DE3053;
    font-weight: bold;
    border-style: solid;
    padding-left: 5px;
}

#sticky-menu li a.current {
    border-left: 4px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-color: #de3053;
    color: #DE3053;
    border-style: solid;
    padding-left: 5px;
}

#sticky-menu li.subnav_drop {
    border-top: 0;
    border-bottom: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-color: #eeeeee;
    padding-bottom: 5px;
    padding-top: 5px;
}

#sticky-menu .toctree-l1 {
    padding-top: 3px;
    padding-bottom: 3px;
}

#doc-container .docs-tutorials img {
    max-height: 100px;
}

#doc-container #blog.docs-tutorials {
    padding-top: 0;
    padding-bottom: 0;
}

.float-right {
    float: right;
}

#edit-github {
    margin-top: 15px;
}

#edit-github a:hover {
    color: #DE3053;
    font-weight: bold;
}

#doc-container h1 {
    font-size: 40px;
}

#doc-container h2 {
    font-size: 30px;
    margin-top: 40px;
}

#doc-container h2#section-title {
    font-size: 50px;
}

#doc-container table {
    margin-top: 30px;
    margin-bottom: 30px;
}

#doc-container table tr {
    border-bottom: 1px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #eeeeee;
}

#doc-container table td,
#doc-container table th {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
}

#sticky-menu {
    position: sticky;
    top: 56px;
    z-index: 1000;
}

li.subnav_drop span {
    font-weight: bold;
}

#doc-container .section h1,
#doc-container .section h2,
#doc-container .section h4 {
    border-top: 60px solid transparent;
    margin-top: -60px;
}

#doc-container .section h1 {
    padding-top: 40px;
}

#doc-container .section h2 {
    padding-top: 40px;
}

#doc-container .section h4 {
    padding-top: 25px;
}

#doc-container pre {
    background: transparent;
}

#doc-container pre code {
    padding: 9.5px !important;
    border-radius: 4px !important;
}

#doc-container table {
    display: block;
    width: 100%;
    overflow: auto;
}

div.cc-window {
    border-top: solid 2px #DE3053 !important;
    width: 100% !important;
}

a.cc-btn {
    border: none !important;
    font-weight: bold !important;
    margin-top: 8px !important;
    text-decoration: none;
    text-shadow: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
    margin: 0 5px 0 5px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.3) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.3) inset;
    text-transform: uppercase;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#demo-container hr {
    margin: 0;
    border-top: 2px solid #eee;
}

#demo-container code {
    display: block;
}

.img-demo {
    max-width: 50%;
    margin: auto;
}

.img-demo-2 {
    max-height: 180px;
}

.col-img-demo {
    text-align: right;
}

.demo-description {
    margin-top: 40px;
}

.demo-description table {
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.demo-description table td {
    padding-right: 25px;
}

.demo-description p {
    font-size: large;
    font-weight: lighter;
}

.img-run-demo {
    max-height: 140px;
}

.row-run-demo {
    display: table;
    table-layout: fixed;
}

.row-run-demo .col {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.btn-copy-code {
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.demo-title {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.demo-title:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.demo-margin-bottom {
    margin-bottom: 25px;
}

#demo-container ol li {
    margin-top: 20px;
}

#demo-container ol li p {
    font-size: 16px;
    font-weight: 400;
}

#demo-container ol li code {
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
}

#demo-container ol li .btn-copy-code {
    display: inline-block;
}

/*.row-gallery {
    margin-top: 50px;
}*/

.row-gallery div {
    padding-top: 15px;
    padding-bottom: 15px;
}

.row-gallery img {
    border: 2px solid #eeeeee;
}

@media screen and (max-width: 991px) {
    span.cc-message {
        margin-bottom: 0 !important;
    }
    #sticky-menu {
        position: relative !important;
        top: 0 !important;
    }
    #doc-container h2#section-title {
        font-size: 40px;
    }
    #doc-container h1 {
        font-size: 30px;
    }
    #demo-container .col-img-demo {
        text-align: center;
    }
    #demo-container .col-title-demo {
        text-align: center;
    }
    #demo-container .img-demo {
        max-width: 200px;
    }
    #demo-container ol li code {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }
    pre {
        padding: 16px;
    }
    pre code {
        white-space: pre !important;
    }
}
