::selection {
    color: white;
}

.my-gray-background {
    background-color: #4d4d4d !important;
}

.my-blue-font-light {
    color: #00C8F7 !important;
}

.loader img {
    width: 8em;
}

#openvidu-logo {
    max-width: 10em;
}

.open {
    font-family: Arciform;
    text-transform: lowercase;
    font-weight: 100;
}

.v {
    text-transform: capitalize;
}

img.logo-small {
    max-height: 30px !important;
    width: auto !important;
    margin-top: 0px !important;
}

img.logo-big {
    max-height: 40px !important;
    width: auto !important;
    margin-top: 25px !important;
}

.navbar .icon {
    font-size: 20px;
}

li.active {
    color: #0088aa;
}

.navbar-default li.active a {
    color: #00C8F7 !important;
}

.navbar-default li a:hover {
    color: #00C8F7 !important;
}

.navbar-default.navbar-small li a:hover {
    color: #0088aa !important;
}

.navbar-default.navbar-small li.active a {
    color: #0088aa !important;
}

.navbar-default button.navbar-toggle span {
    background: #00C8F7 !important;
}

.navbar-default.navbar-small button.navbar-toggle span {
    background: #0088aa !important;
}

.no-margin {
    margin: 0;
}

.expand .social-icon a {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.expand .social-icon i {
    font-size: 40px;
}

.img-tutorials {
    margin: auto;
    max-height: 250px;
}

p.subheading {
    font-size: 18px;
    font-weight: 200;
}

.social-footer-icon {
    font-size: 33px;
}

.up-icon::before {
    line-height: inherit;
}

.navbar-alt .navbar-nav>li>a,
.navbar-alt .navbar-nav>li>span {
    font-size: 14px;
}

#try-now-btn {
    text-align: center;
    margin-top: 60px;
}

#try-now-btn a {
    background-color: #06d362;
}

#get-connected-community {
    padding-top: 100px;
    padding-bottom: 90px;
}

#get-connected-community .connected-icon a:hover .icon {
    background: rgba(0, 0, 0, 0.1);
}

.bg-custom {
    width: 100% !important;
    height: 100% !important;
}

#div-page-top {
    position: fixed;
}

.custom-page-top {
    height: 350px;
}

#sticky-menu ul {
    list-style: none;
    padding-left: 0;
}

#sticky-menu ul li.toctree-l1 a {
    display: block;
    width: 100%;
}

#sticky-menu ul.subnav {
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#sticky-menu ul li div,
#sticky-menu ul li.toctree-l1 {
    cursor: pointer;
}

#sticky-menu li span,
#sticky-menu li a {
    color: #777;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#sticky-menu ul li div:hover span,
#sticky-menu ul li.toctree-l1:hover a {
    border-left: 4px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-color: #0088aa;
    color: #0088aa;
    font-weight: bold;
    border-style: solid;
    padding-left: 5px;
}

#sticky-menu li a.current {
    border-left: 4px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-color: #0088aa;
    color: #0088aa;
    border-style: solid;
    padding-left: 5px;
}

#sticky-menu li.subnav_drop {
    border-top: 0;
    border-bottom: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-color: #eeeeee;
    padding-bottom: 5px;
    padding-top: 5px;
}

#sticky-menu .toctree-l1 {
    padding-top: 3px;
    padding-bottom: 3px;
}

#doc-container li {
    color: #7a7a7a;
}

#doc-container .docs-tutorials img {
    max-height: 100px;
}

#doc-container #blog.docs-tutorials {
    padding-top: 0;
    padding-bottom: 0;
}

.float-right {
    float: right;
}

#edit-github {
    margin-top: 15px;
}

#edit-github a:hover {
    color: #0088aa;
    font-weight: bold;
}

#doc-container h1 {
    font-size: 40px;
}

#doc-container h2 {
    font-size: 30px;
    margin-top: 40px;
}

#doc-container h2#section-title {
    font-size: 50px;
}

#doc-container table {
    margin-top: 30px;
    margin-bottom: 30px;
}

#doc-container table tr {
    border-bottom: 1px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #eeeeee;
}

#doc-container table td,
#doc-container table th {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
}

#sticky-menu {
    position: sticky;
    top: 56px;
    z-index: 1000;
}

li.subnav_drop span {
    font-weight: bold;
}

#doc-container .section h1,
#doc-container .section h2,
#doc-container .section h4 {
    border-top: 60px solid transparent;
    margin-top: -60px;
}

#doc-container .section h1 {
    padding-top: 40px;
}

#doc-container .section h2 {
    padding-top: 40px;
}

#doc-container .section h3 {
    border-top: 80px solid transparent;
    margin-top: -60px;
}

#doc-container .section h4 {
    padding-top: 25px;
}

#doc-container pre {
    background: transparent;
}

#doc-container pre code {
    padding: 9.5px !important;
    border-radius: 4px !important;
}

#doc-container table {
    display: block;
    width: 100%;
    overflow: auto;
}

#doc-container .deploy-img {
    border: solid 8px #0088aa;
    border-radius: 4px;
}

#doc-container .deploy-fields-table {
    text-align: start;
}

#img-mob {
    max-height: 240px;
    margin-left: auto;
    margin-right: auto;
}

#img-mob2 {
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

div.cc-window {
    padding: 0.9em !important;
    font-size: 14px;
}

a.cc-btn {
    min-width: 100px !important;
    border: none !important;
    font-weight: bold !important;
    font-size: 12px !important;
    text-decoration: none;
    text-shadow: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
    margin: 0 5px 0 5px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.3) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.3) inset;
    text-transform: uppercase;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
    display: inline-block;
    padding: 4px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.cc-message {
    margin-bottom: 0.5em !important;
}

#demo-container hr {
    margin: 0;
    border-top: 2px solid #eee;
}

#demo-container code {
    display: block;
}

.img-demo {
    max-width: 50%;
    margin: auto;
}

.img-demo-2 {
    max-height: 180px;
}

.col-img-demo {
    text-align: right;
}

.demo-description {
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.demo-description table {
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.demo-description table td {
    padding-right: 25px;
}

.demo-description p {
    font-size: large;
    font-weight: lighter;
}

.img-run-demo {
    max-height: 140px;
}

.run-div {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
}

.row-run-demo {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.row-run-demo .col {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

#demo-container .run-div hr {
    border-top: 1px solid #e1e2e1;
}

.btn-copy-code {
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.demo-title {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.demo-title:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.demo-margin-bottom {
    margin-bottom: 25px;
}

#demo-container ol li {
    margin-top: 20px;
}

#demo-container ol li p {
    font-size: 16px;
    font-weight: 400;
}

#demo-container ol li code {
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
}

#demo-container ol li .btn-copy-code {
    display: inline-block;
}

#demo-container .demo-description p {
    color: #404040;
}

.img-docker {
    padding: 10px;
}

.img-openvidu {
    padding: 20px;
}

#tabs h3 {}

.c-tabs-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-tabs-nav__link {
    flex: 1;
    margin-right: 4px;
    padding: 12px;
    color: #fff;
    background-color: #E1E2E1;
    text-align: center;
    transition: color 0.3s;
}

.c-tabs-nav__link:last-child {
    margin-right: 0;
}

.c-tabs-nav__link:hover {
    color: #6d6d6d;
}

.c-tabs-nav__link.is-active {
    color: #dc446e;
    background-color: #f3f3f3;
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.c-tabs-nav__link i {
    font-size: 18px;
}

.c-tabs-nav__link span {
    display: none;
    font-size: 18px;
}


/**
 * Tab
 */

.c-tab {
    display: none;
    background-color: #f3f3f3;
}

.c-tab.is-active {
    display: block;
}

.c-tab__content {
    padding: 3.5rem;
}


/**
 * Tabs no-js fallback
 */

.c-tabs.no-js .c-tabs-nav {
    display: none;
}

.c-tabs.no-js .c-tab {
    display: block;
    margin-bottom: 1.5rem;
}

.c-tabs.no-js .c-tab:last-child {
    margin-bottom: 0;
}

@media all and (min-width: 768px) {
    .c-tabs-nav__link i {
        margin-bottom: 12px;
        font-size: 22px;
    }
    .c-tabs-nav__link span {
        display: block;
    }
}

@media all and (max-width: 767px) {
    div.cc-window {
        display: inline;
        position: fixed;
    }
    span.cc-message {
        width: 66.66%;
        display: inline-block !important;
    }
    div.cc-compliance {
        width: 33.33%;
        display: inline-block !important;
        position: absolute;
        top: 33%;
    }
    a.c-tabs-nav__link {
        padding: 6px;
    }
    .c-tab__content {
        padding: 1rem;
    }
    #doc-container {
        margin-top: -25px;
    }
    .row-run-demo {
        display: inherit;
        margin-bottom: 20px;
    }
    .row-run-demo .col {
        display: inherit;
        vertical-align: inherit;
        float: inherit;
        text-align: center;
    }
    .row-run-demo .col img {
        margin-left: auto;
        margin-right: auto;
    }
}


/*.row-gallery {
    margin-top: 50px;
}*/

.row-gallery div {
    padding-top: 15px;
    padding-bottom: 15px;
}

.row-gallery img {
    border: 2px solid #eeeeee;
}

@media screen and (max-width: 991px) {
    #openvidu-logo {
        min-width: 10em;
        height: auto !important;
    }
    span.cc-message {
        margin-bottom: 0 !important;
    }
    #sticky-menu {
        position: relative !important;
        top: 0 !important;
    }
    #doc-container h2#section-title {
        font-size: 40px;
    }
    #doc-container h1 {
        font-size: 30px;
    }
    #doc-container h4 code {
        word-wrap: break-word;
    }
    #img-mob {
        max-height: 400px;
    }
    #img-mob2 {
        max-height: 400px;
    }
    #demo-container .col-img-demo {
        text-align: center;
    }
    #demo-container .col-title-demo {
        text-align: center;
    }
    #demo-container #tabs .img-demo {
        max-width: inherit;
        width: 100%;
    }
    #demo-container #tabs h3 {
        display: none;
    }
    #demo-container ol li code {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }
    pre {
        padding: 16px;
    }
    pre code {
        white-space: pre !important;
    }
    #page-top {
        height: 270px;
    }
    #page-top .page-top-title {
        top: 93px;
    }
    #page-top .page-top-title h2 {
        font-size: 37px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #page-top .home-subheading {
        padding-left: 20px;
        padding-right: 20px;
    }
    #contact {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #get-connected-community {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@font-face {
    font-family: 'Arciform';
    src: url('/fonts/Arciform.eot');
    /* IE9 Compat Modes */
    src: url('/fonts/Arciform.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/Arciform.woff') format('woff'), /* Modern Browsers */
    url('/fonts/Arciform.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/Arciform.svg#svgFontName') format('svg');
    /* Legacy iOS */
}