{# https://github.com/zensical/zensical/blob/master/zensical/templates/partials/tabs-item.html #}

{# Render navigation link content #}
{% macro render_content(nav_item, ref) %}
  {% set ref = ref or nav_item %}
  {{ ref.title or nav_item.title }}
{% endmacro %}

{# Render navigation item #}
{% macro render(nav_item, ref) %}
  {% set ref = ref or nav_item %}

  {# Determine classes #}
  {% set class = "md-tabs__item" %}
  {% if ref.active %}
    {% set class = class ~ " md-tabs__item--active" %}
  {% endif %}

  {# Navigation item with nested items #}
  {% if nav_item.children %}
    {% set _ = namespace(index = none) %}
    {% if "navigation.indexes" in features %}
      {% for item in nav_item.children %}
        {% if item.is_index and _.index is none %}
          {% set _.index = item %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% set index = _.index %}
    {% set first = index or nav_item.children | first %}

    {# Recurse, if the first item has further nested items #}
    {% if first.children %}
      {{ render(first, ref) }}

    {# Nested navigation item #}
    {% else %}
      <li class="{{ class }}">
        <a href="{{ first.url | url }}" class="md-tabs__link">
          {{ render_content(first, ref) }}
        </a>
      </li>
    {% endif %}

  {# Navigation item #}
  {% else %}
    <li class="{{ class }}">
      <a href="{{ nav_item.url | url }}" class="md-tabs__link">
        {{ render_content(nav_item) }}
      </a>
    </li>
  {% endif %}
{% endmacro %}

{# Render dropdown link (tabs.html) #}
{% macro render_dropdown_link(nav_item) %}
  {% set url = nav_item.url %}
  {% if not url and nav_item.children %}
    {% set url = nav_item.children[0].url %}
  {% endif %}
  <a href="{{ url | url }}" class="md-tabs__dropdown-link{% if nav_item.active %} md-tabs__dropdown-link--active{% endif %}">
    {{ render_content(nav_item) }}
  </a>
{% endmacro %}
