<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<!-- Start Footer -->
<footer id="footer">
    <div class="footer-widgets">
        <div class="container">

            <div class="col-md-3 col-sm-6 col-footer">
                <div class="contact">
                    <h4>OpenVidu</h4>
                    <ul class="footer-list" id="social-icons" style="float:left; padding-left:0">
                        <li style="margin-left:0"><a href="https://openvidu.discourse.group/" target="_blank"><i class="icon ion-chatboxes social-footer-icon"></i></a></li>
                        <li><a href="https://github.com/OpenVidu/openvidu" target="_blank"><i class="icon ion-social-github social-footer-icon"></i></a></li>
                        <li><a href="https://twitter.com/openvidu" target="_blank"><i class="icon ion-social-twitter social-footer-icon"></i></a></li>
                        <li><a href="https://medium.com/@openvidu" target="_blank"><i class="icon fab fa-medium social-footer-icon"></i></a></li>                        
                        <li><a href="https://www.youtube.com/channel/UCBwixekKQnYPs5R5zDLZ8nQ" target="_blank"><i class="icon ion-social-youtube social-footer-icon"></i></a></li>
                    </ul>
                    <ul class="footer-list" style="float:left; padding-left:0; list-style: none; margin-top: 10px">
                        <li><a href="/conditions/privacy-policy" target="_blank" style="color: #a0a0a0">Privacy policy</a></li>
                        <li><a href="/conditions/cookie-policy" target="_blank" style="color: #a0a0a0">Cookie policy</a></li>
                        <li><a href="/conditions/terms-of-service" target="_blank" style="color: #a0a0a0">Terms of service</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-footer">
                <div class="subscription">
                    <h4>Newsletter</h4>
                    <p>Keep up with OpenVidu news. Enter your e-mail and subscribe to our newsletter.</p>

                    <!-- Begin MailChimp Signup Form -->
                    <div style="width:100%; text-align:center">
                        <div id="mc_embed_signup" style="display: inline-block; width:70%">
                            <form action="//openvidu.us16.list-manage.com/subscribe/post?u=5cccadc0d9ef9bab689a3c70f&amp;id=43f63ba2f8" method="post"
                                id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
                                novalidate>
                                <div class="form-validation alert"></div>
                                <div id="mc_embed_signup_scroll" class="form-group subscribe-form-input">

                                    <input type="email" value="" name="EMAIL" class="email footer-subscribe-input" id="mce-EMAIL" placeholder="email address"
                                        required>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5cccadc0d9ef9bab689a3c70f_43f63ba2f8" tabindex="-1" value=""></div>
                                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe-form-submit btn-primary-full"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--End mc_embed_signup-->

                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-footer">
                <div class="contact">
                    <h4>Visit us Today!</h4>
                    <ul class="contact-details">
                        <li>
                            <p><i class="icon ion-ios-location-outline highlight"></i> Rey Juan Carlos University, Calle Tulipán
                                s/n. 28933 Móstoles (Madrid), Spain
                            </p>
                        </li>
                        <!--<li>
                                    <p><i class="icon ion-ios-telephone highlight"></i> (123) 456-7891</p>
                                </li>-->
                        <li>
                            <p><i class="icon ion-android-mail highlight"></i> <a href="mailto:openvidu@gmail.com">openvidu@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="contact">
                    <h4>Acknowledgments</h4>
                    <div>
                        <a href="/docs/home/#acknowledgments">
                            <img class="acknowledgments-footer" style="margin-bottom: 10px" src="/img/sponsors/footer-ministerio-economia-400-optimized.png">
                            <img class="acknowledgments-footer" src="/img/sponsors/footer-european-union-400-optimized.png">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Footer Widgets -->

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <p style="text-align: center">OpenVidu © 2020</p>
            </div>
        </div>
    </div>
    <!-- End Footer Copyright -->

</footer>
<!-- End Footer -->

<!-- Start Back To Top -->
<a id="back-to-top"><i class="icon ion-chevron-up up-icon"></i></a>
<!-- End Back To Top -->

<!--<script>(function(d, s, id)  {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'twitter'));
</script>
      
<script>
    $(document).ready(function() {
        $('.twitter-block').delegate('#twitter-widget-0', 'DOMSubtreeModified propertychange', function () {
            //function call to override the base twitter styles
            customizeTweetMedia();
        });

        var customizeTweetMedia = function () {

            //overrides font styles and removes the profile picture and media from twitter feed
            var twitterblock = $('.twitter-block');
            twitterblock.find('.twitter-timeline').contents().find('span.TweetAuthor-avatar.Identity-avatar').remove();

            twitterblock.find('.twitter-timeline').contents().find('p.timeline-Tweet-text').css({
                'font-size': '13px', 'color': '#a0a0a0'
            });
            twitterblock.find('.twitter-timeline').contents().find('a.timeline-Tweet-timestamp').css({
                'color': '#a0a0a0'
            });

            //also call the function on dynamic updates in addition to page load
            twitterblock.find('.twitter-timeline').contents().find('.timeline-TweetList').bind(
                'DOMSubtreeModified propertychange',
                function () {
                    customizeTweetMedia(this);
                });
        }
    });
</script>-->