<!-- Start Footer -->
<footer id="footer">
    <div class="footer-widgets">
        <div class="container">

            <div class="col-md-3 col-sm-6 col-footer">
                <div class="contact">
                    <h4>OpenVidu</h4>
                    <ul id="social-icons" style="float:left; padding-left:0">
                        <li style="margin-left:0"><a href="https://github.com/OpenVidu" target="_blank"><i class="icon ion-social-github social-footer-icon"></i></a></li>
                        <li><a href="https://groups.google.com/forum/#!forum/openvidu" target="_blank"><i class="icon ion-android-mail social-footer-icon"></i></a></li>
                        <li><a href="https://github.com/OpenVidu/bugtracker" target="_blank"><i class="icon ion-bug social-footer-icon"></i></a></li>
                        <li><a href="https://twitter.com/openvidu" target="_blank"><i class="icon ion-social-twitter social-footer-icon"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCBwixekKQnYPs5R5zDLZ8nQ" target="_blank"><i class="icon ion-social-youtube social-footer-icon"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-footer">
                <div class="subscription">
                    <h4>Newsletter</h4>
                    <p>Keep up with OpenVidu news. Enter your e-mail and subscribe to our newsletter.</p>

                    <form action="/php/subscribe-mailchimp.php" method="post" id="subscribe-form" role="form">
                        <div class="form-validation alert"></div>
                        <div class="form-group subscribe-form-input">
                            <input type="email" name="email" id="subscribe-form-email" class="footer-subscribe-input" placeholder="Your Email Address"
                                autocomplete="off" />
                            <button class="subscribe-form-submit btn-primary-full" data-loading-text="Loading...">Subscribe</button>
                        </div>
                    </form>

                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-footer">
                <div class="contact">
                    <h4>Visit us Today!</h4>
                    <ul class="contact-details">
                        <li>
                            <p><i class="icon ion-ios-location-outline highlight"></i> Rey Juan Carlos University, Calle Tulipán
                                s/n. 28933 Móstoles (Madrid), Spain
                            </p>
                        </li>
                        <!--<li>
                                    <p><i class="icon ion-ios-telephone highlight"></i> (123) 456-7891</p>
                                </li>-->
                        <li>
                            <p><i class="icon ion-android-mail highlight"></i> <a href="mailto:openvidu@gmail.com">openvidu@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-twitter">
                <h4>Latest Tweet</h4>
                <div class="tweet"></div>
            </div>

        </div>
    </div>
    <!-- End Footer Widgets -->

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <p style="text-align: center">OpenVidu © 2017</p>
            </div>
        </div>
    </div>
    <!-- End Footer Copyright -->

</footer>
<!-- End Footer -->

<!-- Start Back To Top -->
<a id="back-to-top"><i class="icon ion-chevron-up up-icon"></i></a>
<!-- End Back To Top -->