<!-- Start Header -->
<header>

  {% if page.active=="documentation" or page.active=="account" %}
  <nav class="navbar navbar-default navbar-alt navbar-small">
  {% elsif page.active=="home" %}
  <nav class="nav-default navbar navbar-default navbar-alt nav-home-page" role="navigation">
  {% else %}
  <nav class="nav-default navbar navbar-default navbar-alt" role="navigation">
  {% endif %}

    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					    </button>
        <a class="navbar-brand" rel="home" href="/">
          <!--<img src="img/assets/logo-white.png" alt="Vossen" class="logo-big">
                            <img src="img/assets/logo-dark.png" alt="Vossen" class="logo-small">-->
          {% if page.active=="documentation" %}
          <img class="logo-small" src="/img/logos/openvidu_vert_grey_bg_transp_cropped.png"/>
          {% else %}
          <img class="logo-big" src="/img/logos/openvidu_vert_white_bg_trans_cropped.png"/>
          <img class="logo-small" src="/img/logos/openvidu_vert_grey_bg_transp_cropped.png"/>
          {% endif %}
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav  navbar-right">

          {% if page.page-type=="home" %}
          <li {% if page.active=="home" %} class="active to-top" {% else %}  class="to-top" {% endif %}><a>Home</a></li>
          {% else %}
          <li {% if page.active=="home" %} class="active to-section" {% else %} class="to-section" {% endif %}><a href="/index">Home</a></li>
          {% endif %}
          <li {% if page.active=="demos" %} class="active to-section" {% else %} class="to-section" {% endif %}><a href="/demos">Demos</a></li>
          <li {% if page.active=="tutorials" %} class="active to-section" {% else %} class="to-section" {% endif %}><a href="/tutorials">Tutorials</a></li>
          <li {% if page.active=="openvidu-call" %} class="active to-section" {% else %} class="to-section" {% endif %}><a href="/openvidu-call">OpenVidu Call</a></li>
          <li {% if page.active=="support" %} class="active to-section" {% else %} class="to-section" {% endif %}><a href="/support">Support</a></li>
          <li {% if page.active=="pricing" %} class="active to-section" {% else %} class="to-section" {% endif %}><a href="/pricing">Pricing</a></li>
          <li {% if page.active=="documentation" %} class="active to-section" {% else %} class="to-section" {% endif %}><a href="https://docs.openvidu.io">Docs</a></li>

          <!--<li class="dropdown">
            <span class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></span>
            <ul class="dropdown-menu" role="menu">
                <li class="active"><a href="#">Home - Parallax</a></li>
                <li><a href="home-video.html">Home - Video Slider</a></li>
                <li><a href="home-fullwidth.html">Home - Fullwidth</a></li>
                <li><a href="home-landing-page.html">Home - Landing Page</a></li>
                <li><a href="shortcodes.html">Shortcodes</a></li>
                <li><a href="http://themeforest.net/user/VossenDesign/portfolio" id="btn-buy"><span class="btn-buy">Buy Now</span></a></li>
            </ul>
          </li>-->

          <li><a class="social-icon" target="_blank" href="https://twitter.com/openvidu" style="padding-left: 12px"><i class="icon ion-social-twitter"></i></a></li>
          <li><a class="social-icon" target="_blank" href="https://github.com/OpenVidu/openvidu"><i class="icon ion-social-github"></i></a></li>
          <li {% if page.active=="account" %} class="active to-section" {% else %} class="to-section" {% endif %} style="display: flex; padding-left: 18px" id="account-menu-btn"><div id="login-loader" class="lds-ripple"><div></div><div></div></div></li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- We need this component here to check if user is logged in in ay page -->
  <script async type="text/javascript" src="/openvidu-register/openvidu-register.js"></script>

</header>
<!-- End Header -->

<!-- We need this component here to check if user is logged in in ay page -->
{% if page.active != "account" %}
  <openvidu-register></openvidu-register>
{% endif %}