<!-- Start Header -->
<header>
    <nav class="navbar navbar-default navbar-alt navbar-small">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand to-top" rel="home" href="/">
                    <!--<img src="img/assets/logo-white.png" alt="Vossen" class="logo-big">
                        <img src="img/assets/logo-dark.png" alt="Vossen" class="logo-small">-->
                    <p class="logo-small" style="font-size: 25px; font-weight: 600; font-family: Montserrat;">OpenVidu</p>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav  navbar-right">

          <li class="to-section"><a href="/index.html">Home</a></li>
          <li class="to-section"><a href="/tutorials.html">Tutorials</a></li>
          <li class="to-section"><a href="/docs">Documentation</a></li>
          <li class="to-section"><a href="/community.html">Community</a></li>
          <li class="to-section"><a href="/contact.html">Contact</a></li>

          <li><a class="social-icon" target="_blank" href="https://twitter.com/openvidu"><i class="icon ion-social-twitter"></i></a></li>
          <li><a class="social-icon" target="_blank" href="https://github.com/OpenVidu"><i class="icon ion-social-github"></i></a></li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</header>
<!-- End Header -->