:root:root {
  --product-primary-color: rgb(0, 136, 170) !important;
  --product-primary-color-rgb: 0, 136, 170 !important;
  --product-primary-dark: rgb(0, 57, 71) !important;
  --product-primary-dark-rgb: 0, 57, 71 !important;
  --product-primary-color-light: rgb(0, 200, 247) !important;
  --product-primary-color-light-rgb: 0, 200, 247 !important;
  --product-body-color-dark: rgb(0, 34, 43) !important;
  --product-body-color-dark-rgb: 0, 34, 43 !important;
  --md-hue: 225deg !important;
}

.platform-header .img-title {
  width: 100% !important;
  max-width: 857px !important;
}
