:root:root {
  --meet-primary-color: rgb(0, 147, 73) !important;
  --meet-primary-color-rgb: 0, 147, 73 !important;
  --meet-primary-dark: rgb(0, 95, 48) !important;
  --meet-primary-dark-rgb: 0, 95, 48 !important;
  --meet-primary-color-light: rgb(6, 211, 98) !important;
  --meet-primary-color-light-rgb: 6, 211, 98 !important;
  --meet-body-color-dark: rgb(0, 37, 19) !important;
  --meet-body-color-dark-rgb: 0, 37, 19 !important;
  --md-hue: 140deg !important;

  --md-primary-fg-color: var(--meet-primary-color) !important;
  --md-primary-fg-color--light: var(--meet-primary-color-light) !important;
  --md-primary-fg-color--dark: var(--meet-primary-color) !important;
  --md-primary-bg-color: rgb(255, 255, 255) !important;
  --md-primary-bg-color--dark: var(--meet-primary-color) !important;
  --md-accent-fg-color: rgba(var(--meet-primary-color-rgb), 0.8) !important;
  --md-accent-fg-color--transparent: rgb(129, 129, 129) !important;
  --md-accent-bg-color: rgb(255, 255, 255) !important;
  --md-accent-bg-color--light: rgb(255, 255, 255) !important;

  --gradient: conic-gradient(
    from 60deg at 50% 50%,
    var(--md-primary-fg-color--light) 0%,
    var(--md-primary-fg-color--light) 13%,
    var(--md-primary-fg-color--light) 61%,
    var(--md-primary-fg-color--light) 99%
  ) !important;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: hsla(var(--md-hue), 15%, 14%, 1);
}

[data-md-color-scheme="default"] {
  --meet-body-color-dark: #f5f5f5;
}

.grid.cards {
  margin: 3em 0 !important;
}

.feature-cards .grid.cards.three-columns {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, 32%), 1fr)
  ) !important;
}

@media (max-width: 959px) {
  .feature-cards .grid.cards.three-columns {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, 16rem), 1fr)
    ) !important;
  }
}

.feature-cards .grid.cards.two-columns > ul > li p {
  font-size: 0.85rem !important;
}

.feature-cards .grid.cards > ul > li .feature-name {
  font-size: 1.2em !important;
  margin-left: 14px !important;
  font-weight: 500 !important;
}

.feature-cards .grid.cards > ul > li .feature-icon {
  font-size: 3em !important;
}

.feature-cards .grid.cards.three-columns > ul > li {
  border: solid transparent !important;
  margin: 0.3rem 0.9rem !important;
  padding: 0.6rem !important;
}

.feature-cards .grid.cards.three-columns > ul > li .feature-name {
  font-size: 1.05em !important;
  margin-left: 14px !important;
  font-weight: 500 !important;
}

.meet-features {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.meet-header .img-title {
  width: 100% !important;
  max-width: 750px !important;
}

.openvidu-call-features-cards > ul {
  display: block !important;
}

.ov-meet-commercial-img {
  max-width: 100% !important; /* Default for small screens */
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
}

.feature-cards .two-columns li {
  transition: background-color 0.4s ease !important;
}

.feature-cards .two-columns li:hover {
  background-color: rgba(var(--meet-primary-color-rgb), 0.04) !important;
}

.ov-meet-commercial-feature-cards {
  padding: 0 25px !important;
  text-align: center !important;
}
.ov-meet-commercial-title {
  text-align: center !important;
  font-size: 3em !important;
  font-weight: bold !important;
  margin: 0 !important;
}

.ov-meet-commercial-features-title {
  text-align: center !important;
  font-size: 2em !important;
  font-weight: bold !important;
  /* margin: 0 0 2rem 0 !important; */
}

.ov-meet-commercial-icon {
  background-color: var(--md-primary-fg-color);
  color: white;
  font-size: 2em !important;
  padding: 0.5rem !important;
  border-radius: 50% !important;
  height: auto !important;
}

.ov-meet-commercial-icon svg {
  max-width: none !important;
}

.ov-meet-footer-btn-container p {
  text-align: center;
}

/* Dark mode */
body[data-md-color-scheme="slate"] .ov-meet-commercial-icon {
}

/* Light mode */
body[data-md-color-scheme="default"] {
  .feature-cards .two-columns li:hover {
    background-color: rgba(var(--meet-primary-color-rgb), 0.08) !important;
  }
}

.no-border li {
  border: none !important;
}
.no-shadow li {
  box-shadow: none !important;
}
.round-corners {
  border-radius: 14px;
}
.three-cols {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, 12rem), 1fr)
  ) !important;
}
@media (min-width: 576px) {
  .ov-meet-commercial-img {
    max-width: 80vw !important; /* Small devices (landscape phones, 576px and up) */
  }
}

@media (min-width: 768px) {
  .ov-meet-commercial-img {
    max-width: 70vw !important; /* Medium devices (tablets, 768px and up) */
  }
}

@media (min-width: 992px) {
  .ov-meet-commercial-img {
    max-width: 60vw !important; /* Large devices (desktops, 992px and up) */
  }
}

@media (min-width: 1200px) {
  .ov-meet-commercial-img {
    max-width: 50vw !important; /* Extra large devices (large desktops, 1200px and up) */
  }
}

@media (min-width: 1400px) {
  .ov-meet-commercial-img {
    max-width: 48vw !important; /* XX-Large devices (very large desktops, 1400px and up) */
  }
}

.ov-meet-commercial-card-title {
  font-size: 1.3em !important;
  font-weight: 500 !important;
}

.carousel {
  margin-top: 3em;
}

.carousel-cell {
  width: 85%;
  margin-right: 4%;
}

.carousel-cell-content {
  padding: 1.5em;
  padding-bottom: 2em;
  border-radius: 10px;
  background-color: rgba(var(--meet-primary-color-light-rgb), 0.1) !important;
  box-shadow: none;
  transition: box-shadow 0.4s ease;
}

.carousel-cell.is-selected .carousel-cell-content {
  box-shadow: var(--md-shadow-z2);
  height: 100%;
}

.carousel-cell {
  transition: opacity 0.4s;
  opacity: 0.3;
}

.carousel-cell.is-selected {
  opacity: 1;
  height: calc(100% - 12px) !important;
}

.carousel-cell p {
  margin-top: 0.5em !important;
  font-size: 1.1em !important;
}

.carousel-cell .fake-title {
  font-size: 1.3em !important;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.5;
  margin: 1.6em 0 0.8em;
  margin-top: 0 !important;
}

.flickity-viewport {
  transition: height 0.2s;
}

/* no circle */
.flickity-button {
  background: transparent;
  transition: background-color 0.3s ease !important;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
}
/* icon color */
.flickity-button-icon {
  fill: var(--md-primary-fg-color--light) !important;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

.flickity-button:hover {
  background: rgba(var(--meet-primary-color-rgb), 0.08) !important;
}

/* position dots at top */
ol.flickity-page-dots {
  bottom: -50px;
}

/* dots are lines */
ol.flickity-page-dots li.dot {
  height: 4px;
  width: 40px;
  margin: 0 !important;
  border-radius: 0;
  background: var(--md-primary-fg-color--light);
}

.grid.cards.use-cases-cards {
  margin: 0 !important;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, 10rem), 1fr)
  ) !important;
}

.grid.cards.use-cases-cards ul li {
  border-color: transparent !important;
}

.grid.cards.use-cases-cards ul li:hover {
  box-shadow: none !important;
}

.grid.cards.use-cases-cards ul li p {
  font-size: 0.8rem !important;
}

.grid.cards.use-cases-inner-cards {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, 10rem), 1fr)
  ) !important;
  margin: 1.5em 0 !important;
}

.grid.cards.use-cases-inner-cards li {
  text-align: justify;
}
